.topCategoryDiv{
    margin-top: 1em;
    margin-bottom: 1em;
    /* background-color: #C96A3A; */
    box-shadow: 3px 3px 15px black;
}

#allProductsHeader{
    padding-left: 1em;
    font-size: 1em;
    font-family: 'Righteous', cursive;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 0;
    background-color: #333333;
    color: white;
}

.productNamePrice{
   background-color: #333333;
   display: inline;
   border-bottom: 1px solid #333;
   border-radius: 0 0 5px 5px;
}
.productName, .productPrice{
    color: black;
}
.productName{
    margin-top: 1em;
}
.productPrice{
    margin-bottom: 1em;
    margin-top: 1em;
}
.productImage{
    display: inline;
    width: 100%;
    height: 20em;
}
.productDiv{
    /* border: 1px solid #e5e5e5; */
    /* border-bottom: 1px solid #d6d1d3; */
    /* border-radius: 0 0 5px 5px; */
    /* background-color: #C96A3A; */
    /* background-color: #333; */
    background-color: white;
    margin-bottom: 1em;
    height: 27em;
    /* margin-left: 6.25%; */
    margin-top: 1em;
    box-shadow: 3px 3px 15px black;
}
.singleCategoryImage{
    height: 25em;
}
.allProductsLink{
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
    /* font-size: 0.8em; */
    color: black;
    font-weight: bold;
}
.allProductsLinkParagraph{
    margin-top: 1em;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 0.8em;
}
.allProductsLink:hover{
    text-decoration: underline;
}
body{
    background-color: #e5e5e5;
    /* background-color: #C96A3A; */
}